header{
    background-image: url(../image/bg-enigma-school.jpg);
    width: 100% ;
    height: 1000;
}
.title{
    font-style: italic;
    font-weight: bolder;
    text-align: center; 
    font-size: 30px;
    margin-bottom: 40px;
    color: red;


}
.category{

    font-weight: bolder;
    font-size: 30px;
    text-decoration: underline;
    padding: 50px 50px 0px 150px;
    color: red
}
.elements{
    margin-top: 20px;
    margin-left:30px;
    font-size: 20px;
    color:blue;
    
}
.coordonnees{
    
    font-size: 22px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: blue;
    
} 
.Ecoles{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
    color: blue;
}

.Pointfort{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
    color: blue;

}

.Lang{
   margin-top: 20px;
    margin-left: 100px;
    font-size: 20px;
    color: blue;

}

.nav_link{
margin-left: 45%;
color: red;
font-size: 25px;
}
